<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{fragments/layout}">
<head>
    <title>MICROSERVICE CLIENT APPLICATION</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="container" align="center">
        <h1>Client App Options</h1>
        <br/>
        <span sec:authorize="isAuthenticated()">
            <span sec:authorize="hasRole('ADMIN')">
                <br/>
                <a th:href="@{/dummy}">Dummy Admin Action</a>
            </span>
            <span sec:authorize="hasRole('USER')">
                <br/>
                <a class="btn btn-warning btn-large" th:href="@{/items}">View Items</a>
                <br/>
                <br/>
                <a class="btn btn-warning btn-large" th:href="@{/cart}">View Cart</a>
            </span>
        </span>

        <span sec:authorize="!isAuthenticated()">
            <br>
            <a class="btn btn-warning btn-large" th:href="@{/login}">Login</a>
            <br/>
            <br/>
            <a class="btn btn-warning btn-large" th:href="@{/register}">Create an account</a>
        </span>

    </div>

</div>
</body>
</html>